/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.wrapper{
    overflow: hidden;
    background: #E5E5E5;
}

body{
    font-family: Roboto, serif;
    color: #65727B;
    font-weight: 400;
}
._container {
    max-width: 940px;
    margin: 0 auto;
}

.white-text{
    color: #FFFFFF;
}
/* ------------------------------------- */
.header{
    font-size: 16px;
    line-height: 141%;
}
.header {
}
.header__container {
    max-width: 1175px;
    margin: 0 auto;
    min-height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 10px;

    box-sizing: content-box;
}
.header__Logo {
    margin-right: 50px;
}
.header__menu {
}
/* ---------------------------------- */

.menu__burger {
    height: 18px;
    width: 30px;
    position: relative;
    display: none;
    z-index: 60;
    cursor: pointer;
}
.menu__burger span{
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
    top: 50%;
    transform: scale(1) translateY(-50%);
    transition: 0.3s;
}
.menu__burger::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
    top: 0;
    transition: 0.3s;
}
.menu__burger::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
    bottom: 0;
    transition: 0.3s;
}

.menu {
    
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu__link{
    margin: 5px 0;
    padding: 7px 20px;
    border-radius: 40px;
    transition: 0.3s;
}

.menu__list li:not(:last-child){
    margin-right: 20px;
}


.menu__link{
    color: #65727B;
    line-height: 141%;
    
}
.menu__link:hover{
    color: #28514F;
    background: rgba(101, 114, 123, 0.2);
}

@media (max-width: 950px){
    .header .menu__burger{
        display: block;
    }
    .header .header__menu{
        position: fixed;
        height: 100%;
        right: 0;
        top: 0;
        z-index: 50;
        font-size: 20px;
        background-color: rgb(131, 224, 77, 0.6);
        transform: translateX(100%);
        transition: 0.3s;
    }
    .menu__list li:not(:last-child){
        margin-right: 0;
        margin-bottom: 10px;
    }
    ul.menu__list{
        margin: 0px;
        flex-direction: column;
        margin-top: 80px;
        align-items: flex-end;
    }


    .header .menu__burger.active span{
        transform: scale(0);
    }
    .header .menu__burger.active::before{
        transform: rotate(-45deg) translateY(-50%);
        top: 50%;
    }
    .header .menu__burger.active::after{
        transform: rotate(45deg) translateY(50%);
        bottom: 50%;
    }
    .header .header__menu.active{
        transform: translateX(0);
    }
    body.lock{
        overflow: hidden;
    }
}


/* ----------------------------------- */


/* @media (max-width: 948px){
    .header__Logo {
        margin-right: 100px;
    }
} */
@media (max-width: 479px){
    
    .menu__item{
        font-size: 20px;
    }

}
/* ----------------------------------------------- */
/* ------------------------------------------------- */
/* -------------------------------------------------- */
.h2-title {
    max-width: 656px;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    font-size: 48px;
    line-height: 116%;
    font-family: "DM Serif Display", serif;
    color: #28514F;
}
.subtitle {
    padding: 5px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 21px;
    line-height: 151%;
    font-family: "Source Sans Pro", serif;
}

.page {
    
}
.page__main-block {
}
.main-block {
}
.main-block__container {
    margin-top: 135px;
}
.main-block__title {
}

.main-block__subtitle {
    margin-top: 38px;
}

.main-block__buttons {
    margin-top: 50px;
    margin-bottom: 80px;

}
.buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex-wrap: wrap;
}

.buttons__item {
    display: flex;  
    align-items: center;
    padding: 16px 32px;
    background: #28514F;
    border-radius: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}



.item__img {
    margin-right: 11px;
}



.buttons__item:not(:last-child){
    margin-right: 20px;
}

.buttons__item:nth-child(2){
    position: relative;
    background-color: #AEB4B6;
}
.buttons__item:nth-child(2):before{
    position: absolute;
    content: "Join the Waitlist";
    top: 60px;
}



.main-block__img {
    max-width: 100%;
    display: block;
    margin: 0 auto;

}

.main-block:after{
    width: 157px;
    height: 3px;
    margin: 98px auto 157px auto;
    display: block;
    content: "";
    background-color: #1B1F2B1F;
    border-radius: 40px;
}

@media (max-width: 479px){
    .main-block__container {
        margin-top: 80px;
    }
}
/* ----------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
.page__right-plan {
    margin-bottom: 190px;
}
.right-plan {
}
.right-plan:after{
    width: 157px;
    height: 3px;
    margin: 162px auto 174px auto;
    display: block;
    content: "";
    background-color: #1B1F2B1F;
    border-radius: 40px;
}
.right-plan__container {
    display: flex;
    flex-direction: column;
}

.right-plan__title {
    margin-bottom: 38px;

    
}
.right-plan__subtitle {
    margin-bottom: 94px;
}
/* ---------------------------------------- */
.right-plan__plan-list {
    
}
.plan-list {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    
}
.cart{
    padding: 60px 50px;
    border-radius: 20px;

    max-width: 460px;
}
.cart__icon{
    display: block;
}

.cart__img{
    display: block;
    margin: 0 auto;
    width: 100%;
}

.cart__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 118%;
    color: #1B1F2B;
    margin-bottom: 58px;
    margin-top: 18px;
}
.cart__subtitle {
    font-size: 17px;
    line-height: 141%;
    color: #1B1F2B;
}
/* --------------------------------------- */
.plan-list__cart:nth-child(1) {
    margin: 10px;
    margin-left: 0;
    margin-top: 132px;


}
.cart:nth-child(1) {
    background: #DAE1F4;
    
}
.cart:nth-child(1) .cart__icon {
    margin-top: 40px;
    margin-bottom: 20px;
}

.plan-list__cart:nth-child(2) {
    margin: 10px;
    margin-right: 0;


}
.cart:nth-child(2) {
    background: #D0E6F3;
    
}
.cart:nth-child(2) .cart__icon {
    margin-bottom: 20px;
}
.cart:nth-child(2) .cart__title {
    margin-bottom: 11px;
    margin-top: 19px;
}
.cart:nth-child(2) .cart__subtitle {
    margin-bottom: 35px;
}

/* ---------------- */

.plan-list__cart:nth-child(3) {
    margin: 10px;
    margin-left: 0;

}
.cart:nth-child(3) {
    background: #E0F0E6;
    
}
.cart:nth-child(3) .cart__icon {
    margin-bottom: 20px;
    margin-top: 40px;
}
.cart:nth-child(3) .cart__title {
    margin-bottom: 11px;
    margin-top: 19px;
}
.cart:nth-child(3) .cart__subtitle {
    margin-top: 11px;
}
/* --------------------------- */
.plan-list__cart:nth-child(4) {
    margin: 10px;
    margin-right: 0;
    align-self: flex-start;

}
.cart:nth-child(4) {
    background: #F4F0E9;
    
}
.cart:nth-child(4) .cart__icon {
    margin-bottom: 20px;
    
}
.cart:nth-child(4) .cart__title {
    margin-bottom: 10px;
    
}
.cart:nth-child(4) .cart__subtitle {
    margin-bottom: 36px;

}
/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */
.page__reviews {
    margin-bottom: 190px;
}
.reviews {
}
.reviews__container {
}
.reviews__title {
    margin-bottom: 36px;
}

.reviews__subtitle {
    margin-bottom: 100px;
}

.reviews__reviews-block {
    
}
.reviews-block {
    display: flex;

    flex-wrap: wrap;

    justify-content: center;
}
.reviews-block__list {
    display: flex;
    margin: 10px;
    
}
.reviews-block__item-review {
    max-width: 293px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 31px;
}
.item-review__text {
    color: #1B1F2B;
    font-size: 13px;
    line-height: 154%;
}
.item-review__grade {
    margin-top: 19px;
    margin-bottom: 24px;

}
.item-review__info-review {
}
.info-review {
    display: flex;
}
.review__icon{
    margin-right: 10px;
    
}
.info-review__name {
    font-size: 16px;
    line-height: 119%;
    color: #1B1F2B;
    
}
.info-review__job {
    
}
/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */


.page__our-mission {
    margin-bottom: 30px;
}
.our-mission {
    background-color: #28514F;
    position: relative;

}
.our-mission__container {
}
.our-mission-block {
}
.our-mission__icon {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: block;
    margin: 0 auto;
    margin: -100px 0 0 0;
}
.our-mission__title {
    padding-top: 260px;
    margin-bottom: 38px;
    
}

.white-text {
    color: #FFFFFF;
}
.our-mission__subtitle {
}
.subtitle {
}
.our-mission__subtitle-2 {
    margin-bottom: 62px;
}
.our-mission__btn {
    padding: 14px 32px;
    margin-top: 76px;
    margin-bottom: 50px;
    margin: 76px auto 68px auto;
    color: #28514F;
    display: inline-block;
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro';
    font-size: 16px;
    line-height: 141%;

}
.our-mission__img-container{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
.our-mission__img {
    width: 100%;
}
/* --------------------------------- */
/* --------------------------------- */
/* --------------------------------- */

.page__stay-one-step {
    margin-bottom: 200px;
}
.stay-one-step {
    
}
.stay-one-step__container {
    background: #f5f371;
}

.stay-one-step__block-stay {
    
}
.block-stay{
    display: flex; 
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
}
.stay-one-step__info {
    max-width: 480px;
    
}
.stay-one-step__title {
    color: 333333;
    font-size: 40px;
    line-height: 118%;
    font-family: 'DM Serif Display';

    max-width: 340px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 33px;
    margin-top: 10px;
}

.stay-one-step__buttons{

}
.buttons {
}
.buttons__item {
}
.App-Store-btn {
}

.stay-one-step__img{
    max-width: 419px;
    width: 100%;
}

.stay-one-step__img {
}

/* ---------------------------- */
/* ---------------------------- */
/* ---------------------------- */

.page__join {
    margin-bottom: 200px;
}
.join {
}
.join__container {
}

.join__block-join {
}
.block-join {
}
.block-join__title {
}

.block-join__subtitle {
    margin-top: 39px;
    margin-bottom: 36px;
}

.block-join__input-data {
}
.input-data{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
}
.input-data__input-block {
    
}

.input-block{
    background: #FFFFFF;
    box-shadow: 0px 4px 0px rgba(167, 167, 167, 0.16);
    border-radius: 40px 0px 0px 40px;
    padding: 18px 96px 18px 34px;
    display: inline-block;
    margin: 5px;
    margin-right: 0;
    font-size: 20px;
}
.input-block__input-string {
}
.block-join__sign-in-btn {
}
.sign-in-btn {
    padding: 10px 1px 10px 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 212%;
    background: #28514F;
    box-shadow: 0px 4px 0px rgba(167, 167, 167, 0.16);
    border-radius: 0px 40px 40px 0px;

    white-space: nowrap;
}

.sign-in-btn:after{
    content: url(../img/join/Vector.svg);
    width: 5px;
    height: 10px;
    position: relative;
    z-index: 10;  
    margin-left: 7.5px;  
    margin-right: 12px;
}
.join-block__suptitles {
}
.suptitles{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.suptitles__suptitle {
}
.suptitle {
    font-size: 14px;
    line-height: 143%;
    display: inline-block;
}
.suptitles__suptitle-2 {
    padding-left: 5px;
}

@media (max-width: 400px){
    .input-block{
        padding-right: 35px;
    }
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* ---------------------------------------------- */

.footer {
    border: 2px solid rgba(165, 155, 134, 0.2);;
}
.footer__container {
    max-width: 1175px;
    margin: 0 auto;
    padding: 0 10px;
    margin-top: 77px;

}
.footer__contant {
    
}
.contant {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
}
.content__info {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.content__Logo {
}
.content__rights {
    margin: 10px 0;
    color: inherit;
    font-style: 13px;
    line-height: 154%;
}
.content__privacy-terms-faq {
}
.privacy-terms-faq {
    display: flex;
    max-width: 380px;
    justify-content: space-between;
    flex-wrap: wrap;

    font-size: 14px;
    line-height: 143%;
    text-decoration-line: underline;
    color: #28514F;
}
.privacy-terms-faq__item {
}
.content__journal-contact-shop {
}
.journal-contact-shop {
    display: flex;
    max-width: 380px;
    justify-content: space-between;
    flex-wrap: wrap;

    font-size: 14px;
    line-height: 143%;
    text-decoration-line: underline;
    color: #28514F;

}
.journal-contact-shop__item {
}
.content__menu {
}
.menu {
    
}
.menu__list {
    margin: 20px;
    margin-left: 0;
}
.menu__item {
    color: inherit;
}
.content__social-networks {
}
.social-networks {
    margin-top: 10px;
    margin-bottom: 10px;
}
.social-networks *:not(:last-child) {
    margin-right: 30px;
}
.social-networks__twitter {
}
.social-networks__instagramm {
}
.social-networks__facebook {
}